<div class="row" onclick="location.href='profile/<%=user.debateName%>'">
  <div class="span4">
    <h3>
      <%=user.firstName%> <%=user.lastName%><span>   (<%=user.debateName%>)</span>
    </h3>
  </div>
</div>
<div class="row" onclick="location.href='profile/<%=user.debateName%>'">
  <div class="span2">
    <%= image_tag user.photo.url %>
  </div>
  <div class="span4">
    <h5>
      <i class="icon-user"></i>  <%=user.debateRank%>
    </h5>
    <h5>
      <i class="icon-globe"></i>  <%=user.location%>
    </h5>
    <h5>
      <i class="icon-comment"></i>  <%=user.numDebates%>
    </h5>
    <h5>
      <i class="icon-star"></i>  <%=user.upvotes%>
    </h5>
    <%me = User.find(session[:user_id])%>
    <%if me.friends.any?{|friend| friend.friend_id = user.id}%>
      <h5>
        <i class="icon-check"></i>  Friends
      </h5>
    <%else%>
      <%if user.id == session[:user_id]%>
      <%else%>
        <a href="/user/friend?user=<%=user.debateName%>" role="button" class="btn">Friend</i></a>
      <%end%>
    <%end%>
  </div>
</div>
