<!DOCTYPE html>
<html lang="en">
    <div class="homecontainer">
      <div class="home">
        <div class="page-header">
          <div class="row">
            <div class="span2">
              <h2>
                <%=@user.firstName%> <%=@user.lastName%>
              </h2>
            </div>
            <div class= "span2">
              <h2>
                <small>(<%=@user.rank%>)</small>
              </h2>
            </div>
            <div class="span2 offset1">
              <a href="#editProfile" role="button" class="btn" data-toggle="modal"><i class="icon-pencil"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span3">
            <img src="makesomethingup" height="300" width="300">
          </div>
          <div class="span4">
            <table class="table table-bordered">
              <tr>
                <td>Username: <%=@user.debateName%></td>
              </tr>
              <tr>
                <td>Age: <%=@user.age%></td>
              </tr>
              <tr>
                <td>Gender: <%=@user.gender%></td>
              </tr>
              <tr>
                <td>Location: <%=@user.location%></td>
              </tr>
              <tr>
                <td>Upvotes: <%=@user.upvotes%></td>
              </tr>
              <tr>
                <td>Debates: <%=@user.numDebates%></td>
              </tr>
              <tr>
                <td>Favorite Topic: <%=@user.favoriteTopic%></td>
              </tr>
              <tr>
                <td>Average Length: <%=@user.avgDuration%></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <h4>About <%=@user.firstName%></h4>
          </div>
        </div>
        <div class="row" >
          <div class="span8">
            <%=@user.about%>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <h2>Debate History</h2>
            <%=render :partial => "debateStats", :collection => @user.debates %>
          </div>
        </div>
      </div>
      <div id="editProfile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="RegisterLabel"
       aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="EditProfileLabel">Edit Your Profile </h3>
        </div>
        <div class="modal-body"> 
          <p>
            <%= form_for @user, :url => { :action=> "editProfile" }, :html => { :method => "POST" } do |f| %>
              <%= f.text_field :firstName, :placeholder => "First Name" %>
              <%= f.text_field :lastName, :placeholder => "Last Name" %>
              <%= f.text_field :age, :placeholder => "Age" %>
              <p>
                <%= f.text_field :about, :placeholder => "About", :rows => "3" %>
              </p>
              <p>
                <%= f.submit "Confirm", :class => "btn btn-primary" %>
              </p>
            <%end%>
          </p>
        </div>
      </div>
<footer>
        <p>&copy; Mass-Debate 2013</p>
      </footer>
    </div> <!-- conatiner -->
  </html>

