<center>
  <div class="logincontainer">
    <div class="login">
      <div class="row">
        <h2>Login</h2>
        <%= form_for @user, :url => { :action=> "login" }, :html => { :method => "POST" } do |f| %>
          <p>
            <%= f.text_field :email, :placeholder => "Email" %>
          </p>
          <p>
            <%= f.password_field :password, :placeholder => "Password" %>
          </p>
          <%= f.submit "Login", :class => "btn-custom1" %>
          <a href="#Register" role="button"  class="btn btn-secondary" data-toggle="modal">Register</a>
        <%end%>
        <div id="Register" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="RegisterLabel"
         aria-hidden="false">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="RegisterLabel">Registration Form </h3>
          </div>
          <div class="modal-body"> 
            <p>
              <%= form_for @user, :url => { :action=> "register" }, :html => { :method => "POST" } do |f| %>
                <%= f.text_field :email, :placeholder => "Email" %>
                <%= f.password_field :password, :placeholder => "Password" %>
                <%= f.password_field :password_confirmation, :placeholder => "Re-Type Password" %>
                <%= f.text_field :debateName, :placeholder => "Debate Name" %>
                <%= f.text_field :firstName, :placeholder => "First Name" %>
                <%= f.text_field :lastName, :placeholder => "Last Name" %>
                <%= f.text_field :age, :placeholder => "Age" %>
                <%= f.text_field :location, :placeholder => "Location" %>
                <%= f.select(:gender, [['Male', 1], ['Female', 0]]) %>
                <%= f.text_field :about, :placeholder => "About" %>
                <p>
                  <%= f.submit "Register", :class => "btn-custom1" %>
                </p>
              <%end%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>

