<!DOCTYPE html>
<html lang="en">
    <div class="homecontainer">
      <div class="home">
        <div class="page-header">
          <h2><%=@user.firstName%> <%=@user.lastName%>   <small>(<%=@user.rank%>)</small></h2>
        </div>
        <div class="row">
          <div class="span3">
            <%= image_tag @user.photo.url %>
          </div>
          <div class="span4">
            <table class="table table-bordered">
              <tr>
                <td>Username: <%=@user.debateName%></td>
              </tr>
              <tr>
                <td>Age: <%=@user.age%></td>
              </tr>
              <tr>
                <% if @user.gender %>
                  <td>Gender: male</td>
                <%else%>
                  <td>Gender: female</td>
                <%end %>
              </tr>
              <tr>
                <td>Location: <%=@user.location%></td>
              </tr>
              <tr>
                <td>Upvotes: <%=@user.upvotes%></td>
              </tr>
              <tr>
                <td>Debates: <%=@user.numDebates%></td>
              </tr>
              <tr>
                <td>Favorite Topic: <%=@user.favoriteTopic%></td>
              </tr>
              <tr>
                <td>Average Length: <%=@user.avgDuration%></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <h4>About <%=@user.firstName%></h4>
          </div>
        </div>
        <div class="row" >
          <div class="span8">
            <%=@user.about%>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <h2>Debate History</h2>
            <%=render :partial => "debateStats", :collection => @user.debates %>
          </div>
        </div>
      </div>


<footer>
        <p>&copy; Mass-Debate 2013</p>
      </footer>
    </div> <!-- conatiner -->
  </html>

