<div class="container">
  <h1><%= @debate.debateName1 %> vs <%= @debate.debateName2 %></h1>
  <h2><%= @debate.side1 %> vs <%= @debate.side2 %></h2>

  <div id="Timers" class="row">
    <div class="span3">
      <input type="button" class="btn-danger" id="debateTime1" value="-"></input>
    </div>
    <div class="span3">
      <input type="button" class="btn-danger" id="debateTime2" value="-"></input>
    </div>
    <div class="span3">
      <input type="button" class="btn-danger" id="debateTime3" value="-"></input>
    </div>
    <div class="span3">
      <input type="button" class="btn-danger" id="debateTime4" value="-"></input>
    </div>
  </div>

  <div id="UserArea" class="row">

    <div class="span3">
      <textarea id="debater1-response1" readonly>This is where your Opponent's first statement will go</textarea>
    </div>

    <div class="span3">
      <%= form_for @updatedebate, :remote => true, :url => { :action=> "update" }, :html => {:id => "statement2form", :method => "POST" } do |f| %>
        <%= f.text_area :statement1, :placeholder => "Enter your first rebuttle here", :id => "statement2text", :readonly => :readonly %>
        <%= f.hidden_field :id, :value => @debate.id %>
        <%= f.hidden_field :select, :value => 2 %>
      <%end%>
    </div>

    <div class="span3">
      <textarea id="debater1-response2" readonly>This is where your Opponent's final statement will go</textarea>
    </div>

    <div class="span3">
      <%= form_for @updatedebate, :remote => true, :url => { :action=> "update" }, :html => {:id => "statement4form", :method => "POST" } do |f| %>
        <%= f.text_area :statement1, :placeholder => "Enter your last rebuttle here", :id => "statement4text", :readonly => :readonly %>
        <%= f.hidden_field :id, :value => @debate.id %>
        <%= f.hidden_field :select, :value => 4 %>
      <%end%>
    </div>

  </div>
</div>


<script>
function startwatch(debateTime) {
  var start = new Date().getTime();
  elapsed = '0.0';
  var interval = window.setInterval(function () {
    var time = new Date().getTime() - start;
    elapsed = Math.floor(time / 1000);
    debateTime.value = elapsed;
    if (elapsed >= 10) {
      debateTime.value = "Done";
      clearInterval(interval);
    }
  }, 100);
}

$(window).ready(startdebate());

function startdebate() {
  window.retrieved1 = false;
  window.retrieved3 = false;
  var debateinterval = window.setInterval(function () {

    var debateTime1 = document.getElementById("debateTime1");
    var debateTime2 = document.getElementById("debateTime2");
    var debateTime3 = document.getElementById("debateTime3");
    var debateTime4 = document.getElementById("debateTime4");

    if (debateTime1.value === "-") {
      startwatch(debateTime1);
    }
    else if (debateTime1.value === "Done" && debateTime2.value === "-" && !window.retrieved1) {
      //This is where the AJAX call to get statement1 will go
      window.retrieved1 = true;
      startwatch(debateTime2);
      $("#statement2text").removeAttr("readonly")
    }
    else if (debateTime2.value === "Done" && debateTime3.value === "-") {
      $("#statement2form").submit();
      $("#statement2text").attr("readonly", "readonly");
      startwatch(debateTime3);
    }
    else if (debateTime3.value === "Done" && debateTime4.value === "-" && !window.retrieved3) {
      //This is where the AJAX call to get statement3 will go
      window.retrieved3 = true;
      startwatch(debateTime4);
      $("#statement4text").removeAttr('readonly')
    }
    else if (debateTime4.value === "Done") {
      $("#statement4form").submit();
      $("#statement4text").attr("readonly", "readonly");
    }
    else if (debateTime4.value === "Done") {

    }
    else {}

  }, 1000);
}
</script>
