<!DOCTYPE html>
<html>
<head>
  <title>MassDebate</title>
  <link rel="shortcut icon" href="favicon.ico" >
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div id="navbar1" class="row navbar-inner">
      <div class="container">
        <a  class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="span2">
          <a id="Logo" class="brand" href="/user/home">Mass-Debate</a>
        </div>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li>
              <form class="navbar-search pull-left" action="search" method="get">
                <input type="text" class="search-query" name="searchQuery" placeholder="Search">
              </form>
            </li>
            <li><a href="/user/home" id="Logo">Home</a></li>
            <li class="dropdown">
	            <a href="#" id="Logo" class="dropdown-toggle" data-toggle="dropdown">Debate<b class="caret"></b></a>
              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                <li><a tabindex="-1" href="#createDebate" id="dropdown1" data-toggle="modal">Create a Topic</a></li>
	              <li><a tabindex="-1" href="/debates/index" id="dropdown1">Lobby</a></li>
              </ul>
            </li>
            <li id="settings" class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i><b class="caret"></b></a>
              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                <li><a tabindex="-1" href="/user/privacySettings" id="dropdown1">Privacy Settings</a></li>
	              <li><a tabindex="-1" href="/user/help" id="dropdown1">Help</a></li>
	              <li><a tabindex="-1" href="/user/logout" id="dropdown1">Logout</a></li>
	            </ul>
	          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="createDebate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createDebateLabel"
   aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="createDebateLabel">Create</h3>
    </div>
    <div class="modal-body"> 
      <%@newdebate = Debate.new%>
      <%= form_for @newdebate, :url => { :controller => :debates, :action=> :create }, :html => { :method => "POST" } do |f| %>
        <%= f.label "Topic:" %>
        <%= f.select(:topic_id,
                     [['Politics', 1],
                     ['Religion', 2],
                     ['Sports', 3],
                     ['Current Events', 4],
                     ['Technology', 5],
                     ['Philosophy', 6],
                     ['Entertainment', 7],
                     ['Misc', 8]]) %>
        <%= f.label "Question: " %>
        <%= f.text_field :question %>
        <%= f.label "Side: " %>
        <%= f.text_field :side1 %>
        <p>
          <%= f.submit "Create", :class => "btn-custom1" %>
        </p>
      <% end %>
    </div>
  </div>
<%= yield %>
</body>
</html>
